/* UC 1 ::: Homepage of Address Book App with logo*/ 

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100%;
}

.header {
    padding: 10px 0;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid blue;
}

.logo-content{
    padding-left: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid rgb(99, 171, 253);
    width: 80%;
}

.logo-content-img{
    border: solid 0px #59aaf1;
}

.address-text{
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #5394e9;
    text-transform: capitalize;
    text-align: left;
    opacity: 1;
}

*{
    box-sizing: border-box;
}

/* UC 2 ::: Adding Form Header*/

.form-content {
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

/* for form header*/  
.form {
    background: #ffffff 0% 0% no-repeat padding-box;
    min-width: 1000px;
    margin: 1%;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}

.form-head {
    display: flex;
    background: #008cff 0% 0% no-repeat padding-box;
    border-radius: 8px 8px 0px 0px;
    opacity: 1;
    padding: 8px;
}
  
.form-head-text {
    flex: 5;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font: normal normal normal 20px/50px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
}

.form-head-image {
    flex: 6;
    text-align:end;
    width: 80%;
    margin: 0 auto;
    opacity: 1;
}

/* for Rows Content*/  
.row-content {
    margin-left: 80px;
    margin-right: 80px;
    min-width: 50%;
    min-height: 80%;
    max-width: 100%;
}

.form-data {
    display: flex;
    flex-flow: column wrap;
}

label {
    padding: 5px 8px;
    display: inline-block;
    margin-top: 10px;
}

.text {
    text-align: left;
    font: bold normal normal normal 16px/24px Montserrat;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
}

.input {
    width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #53b0e9;
    border-radius: 3px;
    opacity: 1;
    resize: horizontal;
    padding: 16px 12px;
}

textarea {
    height: 80%;
    width: 100%;
    resize: none;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #53b0e9;
    border-radius: 3px;
    letter-spacing: -1px;
    opacity: 1;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-top: 10px;
}

.column-data {
    display: flex;
    flex-flow: row wrap;
}

.column-content {
    flex: 2;
}

select {
    padding: 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #53b0e9;
    border-radius: px;
    text-align: left;
    font: normal normal normal 18px/24px Montserrat;
    letter-spacing: 0px;
    color: #3c3c3c;
    opacity: 1px;
    width: 90%;
}

.pincode {
    padding: 13px 10px;
}

/*UC 3*/
.buttons{
    margin-left: 40%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.button{
    font-size: 20px;
    font-family: Roboto;
    color: #f0f0f5;
    opacity: 1;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    border: 2px solid rgb(75, 117, 244);
    cursor: pointer;
    border-radius: 5px;
}

.addButton {
    background-color: #1591f7;
    margin-right: 30px;
}

.resetButton {
    background-color: #1591f7;
    margin-left: 140px;
    text-align: center;
}

error-output{                   
    margin-left: 10px;
    font-style: italic;
    font-size: 12px;
    color: red;
}