/* UC 1 ::: Homepage of Address Book App with logo*/ 
*{
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    font-family: serif;
    color: transparent;
    text-align: center;
    animation: effect 1s linear infinite;
}

@keyframes effect {
    0% {
        background: linear-gradient(
                #008000, #00FF00);
        -webkit-background-clip: text;
    }

    100% {
        background: linear-gradient(
                #3CE7D7, #000FFF);
        -webkit-background-clip: text;
    }
}

body{
    margin: 0;
    height: 100%;
}

.header{
    padding: 15px 0;
    background-color: #f6eeee;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid blue;
}

.logo-content{
    padding-left: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid rgb(99, 171, 253);
    width: 80%;
}

.logo-content-img{
    border: solid 0px #59aaf1;
}

.address-text{
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #5394e9;
    text-transform: capitalize;
    text-align: left;
    opacity: 1;
}

*{
    box-sizing: border-box;
}

/* UC 2 ::: Adding Form Header*/
.form-content {
    text-align: center;
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 65%;
    padding: 44px 60px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #cfcccc80;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}

.form-head {
    display: flexbox;
    padding: 5px 0;
    text-align: center;
    background-color: rgb(171, 190, 251);
    font: normal normal bold 28px/37px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    padding-bottom: 5px;
}

.row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}

.label {
    min-width: 140px;
}

label {
    padding: 12px 12px 12px 0px;
    display: inline-block;
}

.text {
    font-size: 16px;
    color: #080909;
    opacity: 1;
    font-family: Roboto;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(52, 190, 217);
    border-radius: 4px;
    resize: vertical;
}

